/*styles.css sayfası*/
/* Bazı tasarımların parçalarına buradan çalıştım..Kaynak Julio Codes-> https://www.youtube.com/watch?v=wlCPOwBr7no&list=WL&index=6&t=2493s */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pic1 {
  width: 45%;
  height: auto;
  float: left;
  clear: both;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 4px;
}

.btnper{
  display: inline-block;
  padding: 9px 12px;
  padding-top: 7px;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  background-image: none !important;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  }



#pic2 {
  width: 45%;
  height: 240px;
  float: left;
  clear: both;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 4px;
}
#yildiz {
  width: 13%;
  height: auto;
  clear: both;
  overflow: hidden;
 
}
.inputt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: #FFFFFF;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 15px;
  width: 100%;
  margin: 10px 0;
  background: rgba(124, 124, 124, 0);
  border-bottom: 3px solid;
  border-color: #FFFFFF;
  border-left: none;
  border-right: none;
  border-top: none;
}.inputts {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #878C94;
  font-size: 14px;
  font-weight:500;
  padding: 8px;
  width: 100%;
  margin: 12px 0;
  background: #0B1320;
  border-radius: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.CardDiv {
  background-color: #151F2E;
  width: 1100px;
  height: auto;
  -webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
  margin-bottom:35px;
  margin-top:5px;
}

.GreenTitleDiv {
  width: 1100px;
  height: 40px;
  background-color: #0B1320;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #FFFFFF;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 0.8rem;
  font-size: 1.1rem;
}
#divon {
  /*burası body gibi düşünüle bilir section'a verdiğim id yaptığı iş  flex flex wrap ve space ile her birini ekrana dağıtmış oluyor*/

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div12 div {
  /* burası portfolyo fotoğraflarının gösterildiği alan referans ve ilham olarak buradan aldım https://www.lisamicheleburns.com/alpine  */
  width: 24vw;
  height: 24vw;
  margin: 0.5vw auto;
}


.inputed {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: #131313;
  font-size: 1.8rem;
  letter-spacing: 1px;
  width: 30%;
  background: rgb(240, 240, 240);
}
select {
  width: 35%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dddddd;
  font-size: 1.4rem;
  background-color: #0B1320;
  border: #f74337;
  border-radius: 5px;
}

.video {
  width: 450px;
  height: 300px;
}

.hakdiv {
  /* 300 tel için iyi*/
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
  width: 1400px;
  padding: 35px;
  border-radius: 0.9rem;
}
.hakdivv {
  /* 300 tel için iyi*/
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
  background-color: #0B1320;
  width: 800px;
  padding: 35px;
  border-radius: 19px;
}

.content {
  background: rgba(255, 255, 255, 0.041);
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
  padding-left: 60px;
  width: 45%;
  height: 450px;
  text-align: left;
  position: relative;
}

.bg {
  width: 100%;
  height: 100vh;
}
.ortadiv {
  width: 100%;
  height: 200px;
  padding: 90px;
  background-color: rgba(255, 255, 255, 0.1);
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-size: 10px;
  font-weight: 350;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.FooterClass {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: auto;
  height: 85px;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #182131;
  color: #E3E4EB;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-size: 1em;
}
.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}.containerrs {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}





.menu-icons {
  color: #fdfdfd;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid rgba(248, 248, 248, 0.932);
} /* Header kısmındaki alt çizgi*/

.logo {
  display: flex;
  border-radius: 100%;
  margin-right: 5rem;
} /*Logo için düzen margin right ile diğer menü parçalarından ayırıyoruz */
.logo i {
  margin: auto;
  font-size: 3rem;
  color: #fdfdfd;
}

.nav-listt {
  display: flex;
  width: 100%; /*bu  menü uzunluğunu 100% yapar ve böylece tüm sayfaya yayılırlar*/
  align-items: center; /* herşeyi ortaladı böylece logomuz tam ortalanmış oldu */
}

.nav-listt li {
  line-height: 8rem;
  position: relative;
}
.nav-listt {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
justify-content:flex-end;
display:flex;
width: 100%; /*bu  menü uzunluğunu 100% yapar ve böylece tüm sayfaya yayılırlar*/
align-items: center; /* herşeyi ortaladı böylece logomuz tam ortalanmış oldu */
}

.nav-listt li {
line-height: 8rem;
position: relative;
}

.sub-menu li {
line-height: 4rem;
}

.nav-listt a {
display: block;
text-align:left;
float:left;
color: #fdfdfd;
padding: 0 1.5rem;
font-size: 1.4rem;
text-transform: uppercase;
transition: color 650ms;
} /* Nav list üst header kısmındaki menümüz oluyor burada yazıların hepsini uppercase yaptık ve block olarak göstertiyoruz. transition ile 650ms sonra  geçiş yapıyor hover'a */

  .nav-listt a:hover {
      color: #FF9F1C; /* menüde  menü de olan seçeneklerdsen birinin üzerine gelince rengi değişiyor*/
  }

.sub-menu li {
  line-height: 4rem;
}

.nav-listt a {
  display: block;
  color: #fdfdfd;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms;
} /* Nav list üst header kısmındaki menümüz oluyor burada yazıların hepsini uppercase yaptık ve block olarak göstertiyoruz. transition ile 650ms sonra  geçiş yapıyor hover'a */

.nav-listt a:hover {
  color: #EAAD04; /* menüde  menü de olan seçeneklerdsen birinin üzerine gelince rengi değişiyor*/
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  border-color:#EAAD04;
  border-style:solid;
  border-width:2px;
}
.check {
  color: #FFFFFF;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check input:checked ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid ;
  border-color:#EAAD04;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  padding: 1.1rem;
  display: inline-block; /*böylece ekran genişletikçe butonda genişlemeyecek ve değerini koruyacak*/
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #EAAD04;
  border-radius: 5rem;
  color: #fdfdfd;
  transition: background-color 650ms;
}
.btnr {
  padding: 1.1rem;
  display: inline-block; /*böylece ekran genişletikçe butonda genişlemeyecek ve değerini koruyacak*/
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #EAAD04;
  border-radius: 0.5rem;
  color: #EAAD04;
  transition: background-color 650ms;
}
.btn:hover {
  color: #EAAD04;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #EAAD04;
}
.btnr:hover {
  color: #69fca1;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #69fca1;
}

.btnn {
  padding: 1.1rem;
  display: inline-block; /*böylece ekran genişletikçe butonda genişlemeyecek ve değerini koruyacak*/
  background-color: #1D2126;
  border: 2px solid #EAAD04;
  border-radius: 0.9rem;
  color: #EAAD04;
  transition: background-color 650ms;
}

  .btnn:hover {
      color: #69fca1;
      background-color: #272E36;
      border: 2px solid #69fca1;
  }

.sub-menu {
  width: 22rem;
  display: block;
  position: absolute;
  border-top: 3px solid rgb(228, 73, 53);
  background-color: #161616;
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 605ms ease;
}
.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent; /* böylece alt menü için bir ok görünmüş oluyor eger burası yine turuncu olsaydı bir kare görünecekti bunun nedeni border eklememiz left ve top borderlar*/
  border-bottom-color: rgb(228, 73, 53);
}

.nav-listt li:hover > .sub-menu {
  top: 8rem;
  opacity: 1;
  visibility: visible; /* burada yaptığım şu oluyor .sub-menu sınıfında  oluşturmuş olduğum alt menü gizli ve görünebilirliği 0 dı burada hover ile üzerine gelince göstertmiş oluyorum visible ve opacity 1 ile. */
}

li.move-right {
  margin: auto 0 auto auto; /* sağ üst köşeye sabitliyoruz*/
  line-height: initial; /* bu varsayılan çizgi  yüksekliğini tanımlar yani form dışına çıkmaz böylece ekrandaki menü butonları veya başka şeyler*/
}

@media screen and (max-width: 915px) {
  /*Responsive*/
  .nav-listt {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    display: none; /*bunun amacı tuşa basıldıktan sonra açılması için olarak display none yani görünmüyor*/
    flex-direction: column;
    align-items: initial;
    background-color: #151F2E;
    z-index: 1000;
    overflow-y: scroll;
  }
  #yildiz {
    width: 19%;
  }
  /* Bu bölüm tammen responsiveleştirme bölümü... kıscası media screen vekullanarak ekran  yatay boyutu 915 pikseli geçtiği zaman aşağıdaki önceden normal boyutları 
 ile ayarlanmış sınıflar içerisinde değişiklik yapmış oluyor yani küçük cihaz ekranına göre değiştirilmiş oluyor. */
  .nav-listt> li {
    line-height: 6rem;
  }

  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: #f74337;
    margin-left: 1rem;
    max-height: 0;
  }
  .sub-menu::before {
    display: none;
  }

  .nav-listt li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  li.move-right {
    /*hizalıyor tuşları ve liste içerisindeki herşeyi*/
    margin: 0 auto 0 0;
    line-height: initial;
  }
  .menu-icons {
    display: block;
  }

  .ion-md-close {
    display: none;
  }
  /*Burası kısacası  js ile aktif olarak son basılmış icon'a göre değişiklik yapıyor örneğin menü açıldığında kapatma gözüksün veya menü yok iken menü tuşu olsun ancak kapatma olmasın gibi*/
  nav.active .ion-md-close {
    display: block;
  }

  nav.active .ion-md-menu {
    display: none;
  }
  nav.active .nav-listt {
    display: flex;
  }
}
/*sub menu icindeki sub*/

/*Orta div sınıflandırma*/
.Orta {
  width: 100%;
  height: 100vh;
}

.text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f74337;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

.text h1 {
  letter-spacing: 5px;
  font-size: 8rem;
  margin: 2rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

.text h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: #8e8e8e;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.text p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: #8e8e8e;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.text .btn {
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fdfdfd;
  text-transform: uppercase;
}
.normaltext {
  width: 100%;
  color: #FF9F1C;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.normaltext h1 {
  letter-spacing: 5px;
  font-size: 8rem;
  margin: 2rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

.normaltext h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #DDDEE5;
  font-size: 1.6rem;
  
}

.normaltext p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: #8e8e8e;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.normaltext .btn {
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fdfdfd;
  text-transform: uppercase;
}

@media screen and (max-width: 1350px) {
  #divon {
    display: block;
  }
  .div12 div {
    width: 50vw;
    height: 50vw;
    margin: 0.9vw auto;
  }
  .btn {
    padding: 1rem;
    display: inline-block; /*böylece ekran genişletikçe butonda genişlemeyecek ve değerini koruyacak*/
    border-radius: 5rem;
  }
  .normaltext .btn {
    font-size: 1.4rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media screen and (max-width: 915px) {
  /*ekran 915 piksel daha küçük olunca ekrandaki textlerin boyutları*/
  .text h1 {
    font-size: 4rem;
  }

  .text h2 {
    font-size: 1.3rem;
  }

  .text p {
    font-size: 1.1rem;
  }

  .text .btn {
    font-size: 1.2rem;
  }
  .normaltext h1 {
    font-size: 4rem;
  }

  .normaltext h2 {
    font-size: 1.3rem;
  }

  .normaltext p {
    font-size: 1.3rem;
  }
  .normaltext .btn {
    font-size: 1.2rem;
  }
  .nav-listt {
    justify-content: unset;
  }
  .nav-listt a {
    font-size: 1.1rem;
  }
  .btn {
    padding: 0.8rem;
    border: 1px solid #f74337;
  }
  .FooterClass h3 {
    font-size: 0.9em;
  }

  .hakdiv {
    width: 500px;
    padding: 20px;
  }
  .hakdivv {
    width: 500px;
    padding: 20px;
  }
  .CardDiv { 
    width: 600px;
  }
  .GreenTitleDiv {
    width: 600px;
    height: 30px;
    font-size: 12px;
  }

  input {
    font-size: 1.4rem;
  }

  textarea {
    font-size: 1.4rem;
  }
  #myBtn {
    padding: 0.8rem;
    font-size: 1rem;
  }
  .div12 div {
    width: 55vw;
    height: 55vw;
  }
  .video {
    width: 430px;
    height: 255px;
  }
}

@media screen and (max-width: 750px) {
  .div12 div {
    width: 70vw;
    height: 70vw;
    margin: 1.8vw auto;
  }
  .CardDiv { 
    width: 520px;
  }
  .GreenTitleDiv {
    width: 520px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  /* Telefonlarda oluşturduğum content cardı düzgün görünmesi için*/
  .content {
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 60px;
    width: 100%;
    height: 350px;
    text-align: left;
    position: relative;
  }
  .CardDiv { 
    width: 500px;
  }
  .GreenTitleDiv {
    width: 500px;
    height: 37px;
    font-size: 12px;
  }

}

@media screen and (max-width: 555px) {
  /*400 pikselden küçük ekranlarda düzgün görünmsei için örneğin iphone 5 veya 4 ile 4.5 inch arası cihazlar. veya iphone 6*/
  .text p {
    font-size: 1.1rem;
    margin-left: 13%;
  }
  .normaltext p {
    font-size: 1.2rem;
    margin-left: 13%;
  }
  .normaltext h1 {
    font-size: 3rem;
  }
  .text h1 {
    font-size: 3rem;
  }
  .normaltext h2 {
    font-size: 1rem;
  }
  .text h2 {
    font-size: 1rem;
  }
  #yildiz {
    width: 23%;
  }
  .hakdiv {
    width: 480px;
    padding: 20px;
  }
  .hakdiv p {
    margin-left: 1px;
  } .hakdivv p {
    margin-left: 1px;
  }
  .CardDiv { 
    width: 440px;
  }
  .GreenTitleDiv {
    width: 440px;
    height: 30px;
    font-size: 12px;
  }
  input {
    font-size: 1.3rem;
  }
  textarea {
    font-size: 1.3rem;
  }
  .div12 div {
    width: 79vw;
    height: 79vw;
    margin: 2vw auto;
  }

  .video {
    width: 425px;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .hakdiv {
    width: 410px;
    padding: 1px;
  } .hakdivv {
    width: 410px;
    padding: 1px;
  }
  .btn {
    padding: 0.9rem;
  }
  .normaltext .btn {
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .video {
    width: 375px;
    height: 210px;
  }
  .CardDiv { 
    width: 400px;
  }
  #yildiz {
    width: 26%;
  }
  .GreenTitleDiv {
    width: 400px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 435px) {
  .hakdiv {
    width: 360px;
    
  }
  .hakdiv p {
    font-size: 1.05rem;
  } .hakdivv {
    width: 360px;
    
  }
  .hakdivv p {
    font-size: 1.05rem;
  }
  .div12 div {
    width: 84vw;
    height: 84vw;
    margin: 2.5vw auto;
  }
  .video {
    width: 370px;
    height: 180px;
  }
  .CardDiv { 
    width: 366px;
  }
  .GreenTitleDiv {
    width: 366px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  /*400 pikselden küçük ekranlarda düzgün görünmsei için örneğin iphone 5 veya 4 ile 4.5 inch arası cihazlar. veya iphone 6*/
  .text h1 {
    font-size: 2.5rem;
  }
  .normaltext h1 {
    font-size: 2.5rem;
  }
  .FooterClass h3 {
    font-size: 0.8em;
  }
  .div12 div {
    width: 89vw;
    height: 89vw;
    margin: 3vw auto;
  }
  .CardDiv { 
    width: 360px;
  }
  .GreenTitleDiv {
    width: 360px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .hakdiv {
    width: 300px;
    padding: 20px;
  }
  .hakdiv p {
    font-size: 1rem;
  } .hakdivv {
    width: 300px;
    padding: 20px;
  }
  .hakdivv p {
    font-size: 1rem;
  }
  .video {
    width: 300px;
    height: 180px;
  }
}

@media screen and (min-height: 568px) {
  .bg {
    height: 108vh;
  }
}
@media screen and (min-height: 705px) {
  .bg {
    height: 100vh;
  }
}
